<div class="user-info-container">
    <div class="panel panel-default" style="padding: 3%;text-align: center">
        <div class="panel-heading">
            <h3 class="panel-title">用户信息</h3>
        </div>
        <div class="panel-body">
            <img src="assets/img/img.jpg">
            <p><a href="#">Sam</a></p>
            <p>Like the legend of the phoenix</p>
            <p>Our ends were beginnings</p>
            <p>权限：administrator</p>
        </div>
        <button type=" button " class="btn btn-danger ">退出登录</button>
    </div>

</div>