



      <div [@show]="'in'" *ngFor="let cred of creds">
 <div class="divider"></div>
  <md-card class="example-card" >
    
    <div>
      <div class="titleSize">{{cred.name}}</div>
      <div class="subtitleSize">{{cred.singer}}</div>
    </div>
    <img src="{{cred.blurPicUrl}}" width="100%">

    <md-card-content>
    
    </md-card-content>
      <audio class="audio" controls="controls" preload="auto" type="audio/mp3"
            src="{{cred.mp3url}}">
  </audio>
  </md-card>
  
  </div>
 